VITE_BASE_URL = 'http://localhost:3000/api'
VITE_FIREBASE_CONFIG =  '{"apiKey": "AIzaSyD-ExampleKey","authDomain": "your-app-id.firebaseapp.com","projectId": "your-app-id","storageBucket": "your-app-id.appspot.com","messagingSenderId": "1234567890","appId": "1:1234567890:web:abcdef123456","measurementId": "G-EXAMPLE123"}'